:root {
    --background_color: #0f0f10;
    --text-color: rgb(233, 225, 225);
    --pink: #ef087b;
    --shadeBlue: #2a1c70;
    --neon: #01d9fa;
}

body {
    height: 100vh;
    width: 100vw;
    background: var(--background_color);
}

#diamond {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    color: var(--text-color);
    font-size: 10em;
    border-radius: 10%; 
    animation: glow 2s linear infinite;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px var(--text-color), 0 0 20px var(--text-color), 0 0 30px var(--pink), 0 0 40px var(--pink), 0 0 50px var(--pink), 0 0 60px var(--pink), 0 0 70px var(--pink);
    }

    to {
        text-shadow: 0 0 5px var(--shadeBlue), 
        0 0 25px var(--shadeBlue),
        0 0 50px var(--shadeBlue),
        0 0 100px var(--neon);
    }
}
